html {
  font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  line-height: 1.5;
}

.menu_section {
  transition: .7s all;
  z-index: 1;
  height: 50vh;
  width: 100vw;
  background-color: #FFF;
  position: fixed;
  top: -100%;
  border-bottom: solid 1px #50E3C2;
}

.menu_section_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.menu_section_list_item {
  text-decoration: none;
  transition: .3s all;
  color: #B9B9B9;
  cursor: pointer;
  font-size: 1.6rem;
}

.menu_section_list_item_container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.menu_section_list_item:hover {
  color: #000;
  padding-left: 10px;
}

.menu_section_logo_container {
  width: 100%;
  position: absolute;
  right: 0;
}

.logo_container {
  position: fixed;
  left: 0;
  top: 0;
  margin: 15px;
}

.menu_container {
  cursor: pointer;
  transition: all .7s;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 15px;
}

.menu_container:hover {
  transform: scale(1.2);
}

.menu_container:active {
  transition: .1s all;
  transform: scale(1);
}

.menu_img_button {
  width: 70px;
}


#menu-logo-img {
  position: absolute;
  right: 0;
  top: 0;
  margin: 80px;
}

#menu-button-open {
  bottom: -30%;
}

/* ABOUT SECTION */

.bluetext {
  color: #50E3C2;
}

.about {
  width: 100vw;
}

.about_container {
  margin: 0 20%;
}

.bluebar {
position: absolute;
margin-top: 20px;
left:50%;
transform: translate(-50%, 0);
justify-content: center;
height: 1px;
width: 80px;
background-color: #50E3C2;
}

.about_maintitle_container {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.about_subtitle_container {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-top: 100px;
}

.about_subtitle_desc {
  margin-top: 10px;
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 30px;
}

.about_sectiontitle {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-size: 2.4rem;
  margin-top: 100px;
}

.about_sectiontext {
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-size: 1.4rem;
  margin-top: 50px;
  z-index: 1;
}

.about_sectiondecoration {
  z-index: -1;
  width: 50px;
  position: absolute;
  padding-top: 25px;
  left: 0;
  margin-left: 18%;
}

.about_description_container {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  margin-top: 100px;
  font-weight: lighter;
}

.about_description_list_item {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* SECTION NUMBERS */

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }
}

.little_numbers {
  font-size: 42px;
}

.section_number_container {
  width: 100%;
  height: 100%;
}

.numbers {
  display: flex;
  margin-top: 150px;
  background-color: #50E3C2;
  height: 100vh;
  width: 100vw;
}

.number_container {
  color: #FFF;
  display: flex;
  height: 25%;
  width: 25%;
}

.number_text_left{
  font-weight: bold;
  color: #FFF;
  opacity: .3;
  font-size: 120px;
}

.number_text_right{
  text-align: right;
  font-weight: bold;
  color: #FFF;
  opacity: .3;
  font-size: 120px;
}

/* SECTION TEAM */

.team {
  margin-top: 150px;
  width: 100vw;
}

.team_container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px; 20%;
}

.team_someone_container {
  margin: 50px auto;
}

.team_someone_img {
  padding: 10px;
  border: 1px solid #50E3C2;
  height: 200px;
  width: 200px;
}

.team_someone_name {
  font-family: "Playfair Display", serif;
  color: #50E3C2;
  font-size: 2.4rem;
}

.team_someone_text {
  font-size: 1.4rem;
}

.team_someone_container:hover {
    animation-name: floating;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
