html {
  font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  line-height: 1.5;
}

.menu_section {
  transition: .7s all;
  z-index: 1;
  height: 50vh;
  width: 100vw;
  background-color: #FFF;
  position: fixed;
  top: -100%;
  border-bottom: solid 1px #50E3C2;
}

.menu_section_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.menu_section_list_item {
  text-decoration: none;
  transition: .3s all;
  color: #B9B9B9;
  cursor: pointer;
  font-size: 1.6rem;
}

.menu_section_list_item_container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.menu_section_list_item:hover {
  color: #000;
  padding-left: 10px;
}

.menu_section_logo_container {
  width: 100%;
  position: absolute;
  right: 0;
}

.logo_container {
  position: fixed;
  left: 0;
  top: 0;
  margin: 15px;
}

.menu_container {
  cursor: pointer;
  transition: all .7s;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 15px;
}

#menu-logo-img {
  position: absolute;
  right: 0;
  top: 0;
  margin: 80px;
}

#menu-button-open {
  bottom: -30%;
}

/* poke fiche */

.fiche-container {
  width: 100vw;
  margin-top: 20vh;
}

.fiche-imgContainer {
  margin: 5% 15%;
}

.fiche-img {
  width: 100%;
}

.fiche-content {
  display: flex;
  flex-direction: column;
}

.fiche-descr {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 4vw;
}

.fiche-link {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #50E3C2;
  text-align: center;
  font-size: 4vw;
}

/* FOOOOOOOTER */

.footer {
  margin-top: 100px;
  width: 100vw;
}

.footer-title {
  font-family: "Playfair Display", serif;
  font-size: 2.4rem;
  text-align: center;
}

.footer-imgContainer {
  margin: 5% 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}

.footer-img {
  width: auto;
  height: auto;
  margin-top: 15%;
}

.footer-pages {
  margin: 10% 30%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width:600px) {
  .footer-pages {
    margin: 10% 20%;
    flex-direction: row;
    justify-content: space-around;
  }
}

.footer-pageLink {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  line-height: 2.5;
  font-size: 1.4rem;
}

@media only screen and (min-width:600px) {
  .footer-pageLink {
    padding: 10px;
  }
}
