html {
  font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
}

.menu_section {
  transition: .7s all;
  z-index: 3;
  height: 50vh;
  width: 100vw;
  background-color: #FFF;
  position: fixed;
  top: -100%;
  border-bottom: solid 1px #50E3C2;
}

.menu_section_container {
  margin: 0 20%;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.menu_section_list_item {
  text-decoration: none;
  transition: .3s all;
  color: #B9B9B9;
  cursor: pointer;
  font-size: 1.6rem;
}

.menu_section_list_item_container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.menu_section_list_item:hover {
  color: #000;
  padding-left: 10px;
}

.menu_section_logo_container {
  width: 100%;
  position: absolute;
  right: 0;
}

.logo_container {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  margin: 15px;
}

.menu_container {
  z-index: 1;
  cursor: pointer;
  transition: all .7s;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 15px;
}

#menu-logo-img {
  position: absolute;
  right: 0;
  top: 0;
  margin: 80px;
}

#menu-button-open {
  bottom: -30%;
}

.menu_img_button {
  width: 70px;
}

/* SECTION MAGAZINES */

.information {
  height: 100vh;
  width: 100vw;
}

.information_paragraph_img_container{
  margin-top: 5%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.information_paragraph_img{
  width: 350px;
}

.information_button_container {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.information_button {
  border: 1px solid #50E3C2;
  padding: 10px 20px;
  color: #000;
  transition: .3s all;
  cursor: pointer;
  text-decoration: none;
}


.information_button:hover {
  color: #FFF;
  background-color: #50E3C2;
}

.information_button:active {
  background-color: #39A28B;
}

.information_counter_container {
  font-size: 1.4rem;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

.information_title_container {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  align-items: flex-end;
  margin-bottom: 10px;
}

.bluebar {
  margin-bottom: 50px;
  width: 100%
  margin-top: 10px;
  width: 80px;
  height: 1px;
  background-color: #50E3C2;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.carousel-cell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mook1 {
  max-height: 70%;
  max-width: 70%;
  height: auto;
}

.main-carousel {
  z-index: 0;
}

.magazine {
  margin-top: 100px;
}

/* FOOTER SECTION */

.footer {
  margin-top: 150px;
  width: 100vw;
}

.footer-title {
  font-family: "Playfair Display", serif;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 10px;
}

.footer-imgContainer {
  margin: 5% 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}

.footer-img {
  width: auto;
  height: auto;
  margin-top: 15%;
}

.footer-pages {
  margin: 10% 30%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width:600px) {
  .footer-pages {
    margin: 10% 20%;
    flex-direction: row;
    justify-content: space-around;
  }
}

.footer-pageLink {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  line-height: 2.5;
  font-size: 1.4rem;
}

@media only screen and (min-width:600px) {
  .footer-pageLink {
    padding: 10px;
  }
}
